.todo-list {
  max-height: 500px;
  overflow-y: auto;
}

.todo-list::-webkit-scrollbar {
  width: 8px;
}

.todo-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.todo-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.todo-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
